BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100

BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
SpaceBeforeParens: ControlStatements

AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
SortIncludes: false
